{% extends "base.html" %}
{% load static %}

{% block title %}Диктатор{% endblock %}

{% block add_css %}<link rel="stylesheet" href="{% static 'sectionhulls/css/hulls-detail_style.css' %}">
<style>
body {
    margin: 0px;
    background-image: url({% static 'main/img/tanki_bg.jpg' %});
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
</style>{% endblock %}

{% block content %}
{% include "main/includes_header.html" %}
<main>
    <h1 id="title">Диктатор</h1>

    <div class="menu">

		<a href="{% url 'hulls-main' %}"><div class="button-back">Вернуться к разделу <b>Корпуса</b></div></a>

        <hr>
        <h2 class="text_section">Описание корпуса</h2>
        <hr>

        <p class="text">
			<b>Описание в гараже:</b><br>
            Благодаря усовершенствованной системе активной защиты и применению новейших композитных материалов данный корпус эффективно поглощает энергию взрыва снаряда любого калибра. Обладатель такого корпуса может смело вести товарищей в атаку, принимая основной удар на себя. Будучи одним из самых быстрых и защищённых, этот корпус имеет большие габариты, что делает его лёгкой мишенью для врага.
		</p>

		<hr>
        <h2 class="text_section">Таблица характеристик корпуса</h2>
        <hr>
        <br>

        {% include "sectionhulls/includes_table.html" %}
		
		<br>
		<hr>
		<h2 class="text_section">Комплекты, содержащие Диктатор</h2>
		<hr>

		{% include "sectionhulls/includes_section_kits.html" %}

    </div>
</main>
{% endblock %}
