<!DOCTYPE html>
{% load static %}
<html lang="ru">
    <head>
        <meta charset="UTF-8">
    <!--    <meta name="viewport" content="width=device-width, initial-scale=1">-->
        <link rel="icon" type="image/ico" sizes="16x16" href="{% static 'main/img/favicon-16.ico' %}">
        <link rel="icon" type="image/ico" sizes="32x32" href="{% static 'main/img/favicon-32.ico' %}">
        <title>{% block title %} {% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}">
        {% block add_css %} {% endblock %}
    </head>
    <body>
    {% block content %} {% endblock %}
    </body>
</html>
