{% load static %}
{% if paint.have_resist %}
    {% if paint.resist_all is Null %}

        {% if paint.resist_smoky is not Null %}
        <p class="section-item-text">
            <a href="{% url 'smoki' %}"><img src="{% static 'main/img/small_icons/resist_smoky.png' %}" title="Защита от Смоки"></a><br>
            {{ paint.resist_smoky }}%
        </p>
        {% endif %}

        {% if paint.resist_firebird is not Null %}
        <p class="section-item-text">
            <a href="{% url 'firebird' %}"><img src="{% static 'main/img/small_icons/resist_firebird.png' %}" title="Защита от Огнемёта"></a><br>
            {{ paint.resist_firebird }}%
        </p>
        {% endif %}

        {% if paint.resist_twins is not Null %}
        <p class="section-item-text">
            <a href="{% url 'twins' %}"><img src="{% static 'main/img/small_icons/resist_twins.png' %}" title="Защита от Твинса"></a><br>
            {{ paint.resist_twins }}%
        </p>
        {% endif %}

        {% if paint.resist_hammer is not Null %}
        <p class="section-item-text">
            <a href="{% url 'hammer' %}"><img src="{% static 'main/img/small_icons/resist_hammer.png' %}" title="Защита от Молота"></a><br>
            {{ paint.resist_hammer }}%
        </p>
        {% endif %}

        {% if paint.resist_railgun is not Null %}
        <p class="section-item-text">
            <a href="{% url 'railgun' %}"><img src="{% static 'main/img/small_icons/resist_railgun.png' %}" title="Защита от Рельсы"></a><br>
            {{ paint.resist_railgun }}%
        </p>
        {% endif %}

        {% if paint.resist_isida is not Null %}
        <p class="section-item-text">
            <a href="{% url 'isida' %}"><img src="{% static 'main/img/small_icons/resist_isida.png' %}" title="Защита от Изиды"></a><br>
            {{ paint.resist_isida }}%
        </p>
        {% endif %}

        {% if paint.resist_vulcan is not Null %}
        <p class="section-item-text">
            <a href="{% url 'vulcan' %}"><img src="{% static 'main/img/small_icons/resist_vulcan.png' %}" title="Защита от Вулкана"></a><br>
            {{ paint.resist_vulcan }}%
        </p>
        {% endif %}

        {% if paint.resist_thunder is not Null %}
        <p class="section-item-text">
            <a href="{% url 'thunder' %}"><img src="{% static 'main/img/small_icons/resist_thunder.png' %}" title="Защита от Грома"></a><br>
            {{ paint.resist_thunder }}%
        </p>
        {% endif %}

        {% if paint.resist_freeze is not Null %}
        <p class="section-item-text">
            <a href="{% url 'freeze' %}"><img src="{% static 'main/img/small_icons/resist_freeze.png' %}" title="Защита от Фриза"></a><br>
            {{ paint.resist_freeze }}%
        </p>
        {% endif %}

        {% if paint.resist_ricochet is not Null %}
        <p class="section-item-text">
            <a href="{% url 'ricochet' %}"><img src="{% static 'main/img/small_icons/resist_ricochet.png' %}" title="Защита от Рикошета"></a><br>
            {{ paint.resist_ricochet }}%
        </p>
        {% endif %}

        {% if paint.resist_shaft is not Null %}
        <p class="section-item-text">
            <a href="{% url 'shaft' %}"><img src="{% static 'main/img/small_icons/resist_shaft.png' %}" title="Защита от Шафта"></a><br>
            {{ paint.resist_shaft }}%
        </p>
        {% endif %}
    {% else %}
        <p class="section-item-text">
            <img src="{% static 'main/img/small_icons/resist_all.png' %}" title="Защита от ВСЕХ пушек и мин"><br>
            <span style="color:gold">{{ paint.resist_all }}%</span>
        </p>
    {% endif %}
{% else %}
    <p class="text-no-resist">Не имеет защиты</p>
{% endif %}