{% extends "base.html" %}
{% load static %}

{% block title %}Не найдена краска{% endblock %}

{% block add_css %}<link rel="stylesheet" type="text/css" href="{% static 'sectionpaints/css/paints-detail_style.css' %}">
<style>
body {
    background-image: url({% static 'main/img/tanki_bg.jpg' %});
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
</style>{% endblock %}

{% block content %}
<div class="bodywrap">
    {% include "main/includes_header.html" %}
    <main>
        <h1 id="title">Не найдена краска</h1>

        <div class="menu">
            <a href="{% url 'paints-main' %}"><div class="button-back">Вернуться к разделу <b>Краски</b></div></a>

            <p class="text">Краска по url-запросу "{{ paint }}" не найдена.</p>
        </div>
    </main>
</div>
{% include "main/includes_footer.html" %}
{% endblock %}
