{% extends "base.html" %}
{% load static %}

{% block title %}{{ paint.name }}{% endblock %}

{% block add_css %}<link rel="stylesheet" href="{% static 'sectionpaints/css/paints-detail_style.css' %}">
<style>
body {
    margin: 0px;
    background-image: url({% static 'main/img/tanki_bg.jpg' %});
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
</style>{% endblock %}

{% block content %}
{% include "main/includes_header.html" %}
<main>
    <h1 id="title">{{ paint.name }}</h1>

    <div class="menu">
        <a href="{% url 'paints-main' %}"><div class="button-back">Вернуться к разделу <b>Краски</b></div></a>

        <hr>
        <h2 class="text_section">Описание краски</h2>
        <hr>
        <br>

        <div class="inner-wrapper">
            <div align="center">
                <img src="{{ paint.image_icon.url }}">
                <p class="text-description">Иконка в гараже</p>
            </div>
            <div>
                <p class="text-description"><b>Название:</b> {{ paint.name }}</p>
                <p class="text-description"><b>Стоимость:</b> {{ paint.cost }} <img src="{% static 'main/img/small_icons/cry.png' %}" title="Кристаллов"></p>
                <p class="text-description"><b>Доступна со звания:</b> <a href="/звания/{{ paint.rank_required.slug_name }}"><img class="icon" src="{{ paint.rank_required.rank_icon.url }}" title="{{ paint.rank_required.rank_name }}" width="40px"></a></p>
            </div>
        </div>
        <p class="text">
            <b>Описание в гараже:</b><br>
            {{ paint.description }}
        </p>

        <div class="resists_set">
            <p class="section-item-text">Краска даёт защиту от пушек:</p><br>
            {% include 'sectionpaints/includes_resists_set_links.html' %}
        </div>

        <hr>
        <h2 class="text_section">Вид на танке</h2>
        <hr>
        <br>

        <div align="center">
            <img class="big_image" src="{{ paint.image_view.url }}">
        </div>

        <br>
        <hr>
		<h2 class="text_section">Комплекты, содержащие краску {{ paint.name }}</h2>
		<hr>

		{% include "main/includes_section_kits.html" %}

    </div>
</main>
{% endblock %}
