{% extends "base.html" %}
{% load static %}

{% block title %}Главная типа{% endblock %}

{% block add_css %}<link rel="stylesheet" href="{% static 'main/css/homepage_style.css' %}">
<style>
body {
    margin: 0px;
    background-image: url({% static 'main/img/tanki_bg.jpg' %});
    background-size: cover;
    background-attachment: fixed;
}
</style>{% endblock %}

{% block content %}
<header>
    <a href="/"><img src="{% static 'main/img/Logo_small.png' %}" alt="Logotip" height="50px"></a>
</header>
<main>
    <h1 id="title">Энциклопедия по игре ProTanki Online</h1>

    <div class="flex-menu" align="center">
        <a href="{% url 'cannons-main' %}" class="flex-menu-item">
            <div>
                <img src="{% static 'main/img/icon_guns.png' %}" alt="icon_guns">
                <p class="flex-menu-text">Пушки</p>
            </div>
        </a>
        <a href="/"  class="flex-menu-item">
            <div>
                <img src="{% static 'main/img/icon_hulls.png' %}" alt="icon_hulls">
                <p class="flex-menu-text">Корпуса</p>
            </div>
        </a>
        <a href="/" class="flex-menu-item">
            <div>
                <img src="{% static 'main/img/icon_paints.png' %}" alt="icon_paints">
                <p class="flex-menu-text">Краски</p>
            </div>
        </a>

    </div>
</main>
{% endblock %}
