{% extends "base.html" %}
{% load static %}

{% block title %}ProTanki Online фан-вики{% endblock %}

{% block add_css %}<link rel="stylesheet" href="{% static 'main/css/homepage_style.css' %}">
<style>
body {
    background-image: url({% static 'main/img/tanki_bg.jpg' %});
    background-size: cover;
    background-attachment: fixed;
}
</style>{% endblock %}

{% block content %}
<div class="bodywrap">
    {% include "main/includes_header.html" %}
    <main>
        <h1 id="title">Энциклопедия по игре ProTanki Online</h1>

        <div class="text-box">
            <p class="text">
                <a class="link" href="https://protanki-game.com/ru">ProTanki</a> — долгожданная версия танков 2014-2017, призванная вернуть атмосферу тех годов. Проект постоянно улучшается и дорабатывается командой разработчиков, старающейся сделать всё возможное для комфортной игры.
            </p>
            <p class="text">
                На этом сайте вы найдёте много полезной информации об игре, например, узнать характеристики пушки или корпуса, какие краски защищают от конкретной пушки, посмотреть что открывается при получении конкретного звания и прочее.
            </p>
            <p class="text">
                Данный сайт сделан в качестве личного проекта для практики навыков разработки на фреймворке Django.
            </p>
            <p class="text">
                <a class="link" href="https://github.com/Ilya-Pishchalnikov-2002/ProTankiWiki_djangoproject" target="_blank">
                    Страница проекта на Github
                </a><br>
                <a class="link" href="https://wiki.pro-tanki.com/ru/Заглавная_страница" target="_blank">
                    Оригинальная википедия ProTanki Online
                </a>
            </p>
        </div>

        <div class="flex-menu" align="center">
            <a href="{% url 'cannons-main' %}" class="flex-menu-item">
                <div>
                    <img src="{% static 'main/img/icon_guns.png' %}" alt="icon_guns">
                    <p class="flex-menu-text">Пушки</p>
                </div>
            </a>
            <a href="{% url 'hulls-main' %}"  class="flex-menu-item">
                <div>
                    <img src="{% static 'main/img/icon_hulls.png' %}" alt="icon_hulls">
                    <p class="flex-menu-text">Корпуса</p>
                </div>
            </a>
            <a href="{% url 'paints-main' %}" class="flex-menu-item">
                <div>
                    <img src="{% static 'main/img/icon_paints.png' %}" alt="icon_paints">
                    <p class="flex-menu-text">Краски</p>
                </div>
            </a>
            <a href="{% url 'kits-main' %}" class="flex-menu-item">
                <div>
                    <img src="{% static 'main/img/icon_kits.png' %}" alt="icon_kits">
                    <p class="flex-menu-text">Комплекты</p>
                </div>
            </a>
            <a href="{% url 'ranks-main' %}" class="flex-menu-item">
                <div>
                    <img src="{% static 'main/img/icon_ranks.png' %}" alt="icon_ranks">
                    <p class="flex-menu-text">Звания</p>
                </div>
            </a>

        </div>
    </main>
</div>
{% include "main/includes_footer.html" %}
{% endblock %}
