{% extends "base.html" %}
{% load static %}

{% block title %}Молот{% endblock %}

{% block add_css %}<link rel="stylesheet" href="{% static 'sectioncannons/css/cannons-detail_style.css' %}">
<style>
body {
    margin: 0px;
    background-image: url({% static 'main/img/tanki_bg.jpg' %});
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
</style>{% endblock %}

{% block content %}
{% include "main/includes_header.html" %}
<main>
    <h1 id="title">Молот</h1>

    <div class="menu">

		<a href="{% url 'cannons-main' %}"><div class="button-back">Вернуться к разделу <b>Пушки</b></div></a>

        <hr>
        <h2 class="text_section">Описание пушки</h2>
        <hr>

		<p class="text">Стрелковая пушка для боя на малой дальности. Имеет ограниченную дальность максимального поражения и линейное падение урона. Не наносит урон за пределами дистанции минимального поражения. Поражает цели дробью, имеющей разброс внутри конуса поражения, физическое воздействие на цель. Обладает обоймой на 3 заряда. Неполную обойму нельзя дозарядить вручную, она перезаряжается автоматически только после опустошения. Перезарядка обоймы занимает длительное время. Обладает вертикальной автонаводкой.</p>

        <p class="text"><b>Описание в гараже:</b><br>
			Инженеры-разработчики нестандартно подошли к реализации этой противотанковой пушки. Вместо обычного бронебойного снаряда применяется шрапнельный снаряд с вольфрамовыми стрелами, а система перезарядки заменена на роботизированную барабанную систему заряжания. В результате получился самый надежный инструмент для забивания танков противника в землю. Как гвозди молотком. Танкисту остается только поближе подобраться к противнику, ведь снаряды имеют невысокую кучность при стрельбе на большие дистанции.</p>

		<hr>
        <h2 class="text_section">Таблица характеристик пушки</h2>
        <hr>
        <br>

        <table align="center">
            <thead>
                <tr>
                    <th>Модификация</th>
                    <td>М0</td>
                    <td>М1</td>
                    <td>М2</td>
                    <td>М3</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Изображение</th>
                    {% for c in cannon_modifications %}
                    <td><img src="{{ c.image.url }}" width="85%"></td>
                    {% endfor %}
                </tr>
				<tr>
					<th>Требуемое звание</th>
					{% for c in cannon_modifications %}
					<td><a href="/звания/{{ c.rank_required.slug_name }}"><img src="{{ c.rank_required.rank_icon.url }}" title="{{ c.rank_required.rank_name }}"></a></td>
					{% endfor %}
				</tr>
				<tr>
					<th>Стоимость</th>
					{% for c in cannon_modifications %}
					<td>{{ c.cost }} <img src="{% static 'main/img/small_icons/cry.png' %}" title="Кристаллов"></td>
					{% endfor %}
				</tr>
				<tr>
					<th><img class="icon" src="{% static 'main/img/small_icons/dmg.png' %}"> Урон выстрела</th>
					{% for c in cannon_modifications %}
					<td>{{ c.damage_shot }}</td>
					{% endfor %}
				</tr>
				<tr>
					<th>Урон дробинки</th>
					{% for c in cannon_modifications %}
					<td>{{ c.damage_pellet }}</td>
					{% endfor %}
				</tr>
				<tr>
					<th><img class="icon" src="{% static 'main/img/small_icons/impact.png' %}"> Сила удара выстрела</th>
					{% for c in cannon_modifications %}
					<td>{{ c.impact_force_shot }}</td>
					{% endfor %}
				</tr>
				<tr>
					<th>Сила удара дробинки</th>
					{% for c in cannon_modifications %}
					<td>{{ c.impact_force_pellet }}</td>
					{% endfor %}
				</tr>
				<tr>
					<th>Отдача</th>
					{% for c in cannon_modifications %}
					<td>{{ c.recoil_force }}</td>
					{% endfor %}
				</tr>
				<tr>
					<th><img class="icon" src="{% static 'main/img/small_icons/reloading.png' %}"> Перезарядка (сек)</th>
					{% for c in cannon_modifications %}
					<td>{{ c.reload_speed }}</td>
					{% endfor %}
				</tr>
				<tr>
					<th>Зарядка обоймы (сек)</th>
					{% for c in cannon_modifications %}
					<td>{{ c.reload_speed_clip }}</td>
					{% endfor %}
				</tr>
				<tr>
					<th><img class="icon" src="{% static 'main/img/small_icons/rotation.png' %}"> Скорость поворота (град/сек)</th>
					{% for c in cannon_modifications %}
					<td>{{ c.rotation_speed }}</td>
					{% endfor %}
				</tr>
				<tr>
					<th>Дальность макс. поражения (м)</th>
					{% for c in cannon_modifications %}
					<td>{{ c.max_dmg_range }}</td>
					{% endfor %}
				</tr>
				<tr>
					<th><img class="icon" src="{% static 'main/img/small_icons/range.png' %}"> Дальность мин. поражения (м)</th>
					{% for c in cannon_modifications %}
					<td>{{ c.min_dmg_range }}</td>
					{% endfor %}
				</tr>
				<tr>
					<th><img class="icon" src="{% static 'main/img/small_icons/dmg_percent.png' %}"> Процент слабого поражения</th>
					{% for c in cannon_modifications %}
					<td>{{ c.weak_dmg_percent }}%</td>
					{% endfor %}
				</tr>
				<tr>
					<th>Число дробинок</th>
					{% for c in cannon_modifications %}
					<td>{{ c.pellet_count }}</td>
					{% endfor %}
				</tr>
				<tr>
					<th>Угол разброса (вертикальный)</th>
					{% for c in cannon_modifications %}
					<td>{{ c.spread_angle_vertical }}</td>
					{% endfor %}
				</tr>
				<tr>
					<th>Угол разброса (горизонтальный)</th>
					{% for c in cannon_modifications %}
					<td>{{ c.spread_angle_horizonatal }}</td>
					{% endfor %}
				</tr>
            </tbody>
        </table>
		
		<br>
		<hr>
		<h2 class="text_section">Краски с защитой от Молота</h2>
		<hr>

		<div class="flex-section">
			{% for paint in resist_paints %}
			<a class="section-item" href="/краски/{{ paint.slug_name }}">
				<h3 class="section-item-name">{{ paint.name }}</h3>
				<div class="img_wrapper" align="center">
					<img src="{{ paint.image_icon.url }}"><br>
				</div>
				<h6 class="section-item-name"><img class="icon" src="{% static 'main/img/small_icons/resist_hammer.png' %}">
					{{ paint.resist_hammer }}%</h6>
			</a>
			{% endfor %}
		</div>

		<hr>
		<h2 class="text_section">Комплекты, содержащие Молот</h2>
		<hr>

		{% include "main/includes_section_kits.html" %}

    </div>
</main>
{% endblock %}
