{% load static %}
<div class="flex-section-kits">
			{% for kit in kits %}
			<div class="section-item-kits">
				<h3 class="section-item-name">{{ kit.name }}</h3>
				<hr>
				<div class="inner-wrapper">
					<div class="img_wrapper" align="center">
						<img src="{{ kit.image.url }}"><br>
					</div>
					<div>
						<p><a class="section-item-kits-text" href="/пушки/{{ kit.cannon.slug_name }}">{{ kit.cannon.name }} {{ kit.cannon_modification }}</a></p>
						<p><a class="section-item-kits-text" href="/корпуса/{{ kit.hull.slug_name }}">{{ kit.hull.name }} {{ kit.hull_modification }}</a></p>
						<p><a class="section-item-kits-text" href="/краски/{{ kit.paint.slug_name }}">{{ kit.paint.name }}</a></p>
					</div>
				</div>
				<hr>
				<div class="inner-wrapper">
					<div>
						<p class="section-item-kits-text">{{ kit.cost }} <img src="{% static 'main/img/small_icons/cry.png' %}" title="Кристаллов"></p>
					</div>
					<div>
						<p class="section-item-kits-discount">-{{ kit.discount }}%</p>
					</div>
				</div>
				<hr>
				<div class="inner-wrapper">
					<img src="{{ kit.rank_start.rank_icon.url }}" title="{{ kit.rank_start.rank_name }}" width="30px">
					<p class="section-item-kits-text"><b>-</b></p>
					<img src="{{ kit.rank_end.rank_icon.url }}" title="{{ kit.rank_end.rank_name }}" width="30px">
				</div>
			</div>
			{% endfor %}
		</div>