header {
    width: 100%;
    height: 60px;
    margin-bottom: 10px;
    border-bottom: 2px solid black;
    background-color: #458338;
}

header img {
    position: relative;
    top: 5px;
    left: 5px;
    bottom: 5px;
}

#title {
    text-align: center;
    font-family: Georgia, sans-serif;
    font-weight: bold;
    font-size: 35px;
    font-variant: small-caps;
    color: grey;
    text-shadow: 4px 4px 2px black;
    margin: 45px;
}

.text {
    font-size: 18px;
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

.text_section {
    font-size: 28px;
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
    font-weight: bold;
}

.menu {
    width: 90%;
    padding: 25px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid grey;
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.5);
}

.flex-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.section-item {
    margin: 30px;
    padding: 20px;
    border: 1px solid rgba(220, 220, 220, 0.8);
    border-radius: 15px;
    background-color: rgba(180, 180, 180, 0.1);
    min-width: 180px;
    min-height: 180px;
    transition-property: background-color;
    transition-duration: 0.2s;
    transition-timing-function: linear;
}

.section-item:hover {
    background-color: rgba(180, 180, 180, 0.2);
}

.section-item-name {
    font-size: 24px;
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
}
